body {
    background-color: black;
    color: white;
}

h1 {
    display: inline-block;
}

#weather_icon {
    vertical-align: top;
}

h5 {
    font-size: 1.1rem;
    text-align: center;
}

#header_main {
    text-align: center;
    background-color: grey;
}

#sidebar_main {
    background-color: rgb(58, 58, 58);
    padding: 10px 15px;
}

#input_form_main {
    margin-bottom: 12px;
}

#card_list {
    list-style: none;
}

#sidebar_card {
    background-color:rgb(68, 68, 68);
}

.sidebar_city {
    background: white;
    color: black;
    padding: 3px 12px;
    margin: 5px 0;
    border-radius: 6px;
}

.sidebar_city:hover {
    background-color: rgb(197, 197, 197)
}

#content_header, #forecast_header {
    margin-bottom: 22px;
}

#main_card, #forecast_card {
    background-color: #232323;
    padding: 12px 20px 16px 20px;
    margin-top: 8px;
    border-radius: 12px;
}

.daily_card {
    text-align: center;
    padding: 14px 0;
    font-size: 12px;
    background-color: black;
    border-radius: 14px;
    margin: 4px 8px;
}

.daily_card p {
    margin: 6px 0 6px 0;
}

#uv_index {
    padding: 1px 10px;
    border-radius: 8px;
}

#clear_list {
    outline: none;
    margin-top: 2px;
}