body {
    background-color: black;
    color: white;
}

#header_main {
    text-align: center;
    background-color: grey;
}

#sidebar_main {
    background-color: rgb(58, 58, 58);
    padding: 10px 15px;
}

#input_form_main {
    margin-bottom: 12px;
}

.sidebar_city {
    background: white;
    color: black;
    padding: 3px 12px;
    margin: 5px 0;
    border-radius: 10px;
}